.Account-table {
  width: 100%;

  border-radius: 10px;
  border-collapse: collapse;
  * {
    border: none;
    padding-inline: 1rem;
  }

  tr {
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
  td,
  th {
    padding-block: 0.3rem;

    border-right: 1px solid var(--border-color);
  }
}
